html, body {
	overflow: hidden;
	height: 100%;
	width: 100%;
	margin: 0;
    background-color: #FAF9F6;
}

.text {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-family: american typewriter;
    font-size: 1.8em;
    padding-top: 80px;
    text-align: center;
    margin: 0 auto;
}

.imgdesktop {
    min-width: 750px;
	min-height: 750px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.imgmobile {
    display: none;
}

a {
	color: black;
}

a:hover {
    font-style: italic;
}

@media screen and (max-width: 750px) {
    img {
    min-width: 550px;
    min-height: 550px;}

    .text {
        width: 400px;
        font-size: 1.3em;
        padding-top: 50px;
    }
}

@media screen and (max-height: 750px) {
    img {
    min-width: 550px;
    min-height: 550px;}

    .text {
        width: 400px;
        font-size: 1.4em;
        padding-top: 60px;
    }

}



